[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-binance = "==0.7.9"
colorama = "==0.4.4"
tradingview-ta = "==3.2.3"
psycopg2-binary = "==2.8.6"
aiohttp = "==3.7.4"
PyYAML = "==5.4.1"
sklearn = "*"
pandas = "*"
backtrader = "*"
jupyter = "*"
yfinance = "*"
matplotlib = "~=3.2.2"
plotly = "*"
ipykernel = "*"
tensorflow-gpu = "==1.15.0"
tensorflow = "==1.15.0"
stable-baselines = "*"
gym-anytrading = "*"
gym = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.7"
